.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2500px;
    width: 100vw;
    background-color: #2C272E;
}

.projects {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items:center;
    width: 1200px;
    height: 1400px;
}

.project {
    display: flex;
    justify-content: space-between;
    width: 900px;
    color: white;
}

.project img {
    border-radius: 5px;
}

.project-details {
    width: 370px;
}

.project-details h3 {
    position: relative;
    font-size: 22px;
    margin-bottom: 20px;
}

.project-details h3::after {
    position: absolute;
    left: 0;
    content: '';
    height: 2px;
    width: 40px;
      /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
    bottom: -4px; 
    z-index: 4;
    background: #53dfc3e1;
}

.project-details p {
    font-size: 12px;
    width: 80%;
}

.project-details button {
    width: 130px;
    margin-top: 50px;
    height: 50px;
    border: 2px solid #53dfc3e1;
    background-color: transparent;
    color: #53dfc3e1;
}

.live-demo {
    margin-right: 20px;
}

button:hover {
    cursor: pointer;
    background-color: #53dfc3e1;
    color: white;
}

@media only screen and (max-width: 600px) {

    .container {
        height: 3490px;
    }

    .projects {
        width: 100vw;
    }
    .project img {
        width: 300px;
        margin-bottom: 30px;
    }

    .project {
        flex-direction: column;
        width: 340px;
    }
}