@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

main  {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #161a27;
  width: 100%;

  font-family: 'Montserrat', sans-serif;
}


.blur-bg1 {
  width: 90px;
  height: 190px;
  border-radius: 50%;
  background-color: #53DFC2;
  filter: blur(100px);
  position: absolute;
  left: 0;
}

.blur-bg2 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #53DFC2;
  filter: blur(70px);
  position: absolute;
  right: 100px;
  top: 500px;
}


.navbar a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 245px;
  margin-top: 40px;
  color: #a1a1a5;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
}

.navbar a:hover {
  border-bottom: 3px solid #53DFC2;
  font-weight: 700;
  color: white;
}

p {
  line-height: 18px;
}